* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

ol {
  padding: 0;
  margin: 2rem;
}

.square {
  background: #fff;
  border: 1px solid #000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 4rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 4rem;
  background-color: skyblue;
  color: white;
  cursor: pointer;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin: 1rem;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: x-large;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.game-info {
  margin-left: 20px;
}

.button {
  width: 8rem;
  height: 2rem;
  background-color: lightgreen;
  border: none;
  margin: 0.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
